/* Navbar.css */
.navbar {
    width: 1137px;
    height: 51.84px;
    left: 392px;
    padding: 2px 11px 2px 22px;
    border-radius: 65px;
    background: #02141E;

  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
  }

  .nav-links li {
    margin-right: 100px;
    gap: 10px;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff; 
  }

    /* the selected navigation link white */
    .nav-links a:hover,
    .nav-links a:focus,
    .nav-links a:active,
    .nav-links a.active {
    color: #fff;
    }

    .logo img {
        max-width: 100px; /* Adjust the logo size as needed */
    }

  .nav-links button{
    width: 176px;
    height: 33px;
    padding: 7px 21px 7px 21px;
    border-radius: 100px;
    gap: 10px;

  }
  