.about-container{
    padding: 20px;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    font-size: 24px;
    margin-bottom: 20px;
}

h2{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 48px;
}

span{
    color:#73BFBF;
}

p{
    align-items: center;
    font-size: 24px;
    text-align: justify;
}
