/* Works Container */
.works-container {
    padding: 20px;
  }
  
  /* Heading Style */
  h1 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Frame Container Style */
  .frame-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Individual Frame Style */
  .frame {
    width: 404.86px;
    height: 478.93px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  
  /* Image Style */
  .image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(106.93deg, #07161C -25.75%, #0C4760 20.89%, #003246 70.54%);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(0%);
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  /* Hide the overlay text on hover */
  .image-container:hover .text-overlay {
    opacity: 0;
  }