/* Scene1 CSS */
.scene1 {
    width: 100%; 
    height: 100vh; 
    position: relative;
    overflow: hidden;
    background: #02141E;
  }
  
  /* Rectangular Frame */
  .frame {
    width: 70%; 
    padding-top: 70%; 
    background: linear-gradient(180deg, #07161C 0%, #0C4760 48.44%, #003246 100%);
    /* Dark overlay color (with transparency) */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  
  /* Transparent Circle */
  .circle {
    width: 100%;
    padding-top: 100%; 
    background-color: transparent; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  
  /* Individual Image Styles */
  .sky2 {
    position: absolute;
    width: 1014.23px;
    height: 185.5px;
    top: 290px;
    left: 3px;
  }
  
  .sun2 {
    position: absolute;
    width: 127px;
    height: 127px;
    top: 540px;
    left: 465px;
  }
  
  .mountains2 {
    position: absolute;
    width: 100%; 
    max-width: 1760px; 
    height: 408.09px; 
    top: 508.59px;
    left: 60.5px;
  }
  
  .forest2 {
    position: absolute;
    width: 100%; 
    max-width: 2042.51px; 
    height: auto; 
    top: 600px;
    left: -1px;
  }
  
  .hill2 {
    position: absolute;
    width: 100%; 
    max-width: 1920px; 
    height: auto; 
    top: 650px;
  }
